.images_icon{
    margin-top: 10%;
    float: left;
    padding: 2% 2% 2% 2%;
}
.image_icon img{
    max-width:100px;
    max-height:70px;
    width: auto;
    height: auto;
    border: 1px solid #9BA2AB;
    margin-top: 4%;
}

.product_img img{
    max-width:750px;
    max-height:525px;
    width: auto;
    height: auto;
    padding-right: 3%;
}

.content{
    margin:5% 5% 5% 4%;
}

.availability{
    color: #2ca02c;
}

a{
    color: #0000F0;
}

.price{
    color: #8a6d3b;
}

.buttuns{
    float: left;
    padding: 5% 5% 5% 2%;
}

.buttuns button{
    margin-top: 10%;
}