.product{
    width: 40%;
    float: left;
    margin-left: 6%;
    margin-top: 7%;
}
h1{
    text-align: center;
}

.product_text{
    width: 50%;
    float: left;
}

.product img {
    max-width:250px;
    max-height:175px;
    width: auto;
    height: auto;
    padding-right: 3%;
}
.availability{
    color: #2ca02c;
}

.price{
    color: #8a6d3b;
}
.content{
}
.product_text{
}